In [69]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [119]:
UKM = pd.read_csv('ukm_dataset.csv')

In [121]:
UKM.head()

,ID_UKM,Nama_UKM,Seni,Sains,Sosial,Riset,Olahraga,Kerohanian,Kompetitif,Waktu_Komitmen,Ekstrovert_Friendly
0,EM,Eksekutif Mahasiswa,0.1,0.1,1.0,0.2,0.0,0.1,1.0,6,1.0
1,DPM,Dewan Perwakilan Mahasiswa,0.1,0.2,1.0,0.3,0.0,0.1,0.8,5,0.8
2,AIESEC,AIESEC in UB,0.2,1.0,0.6,0.4,0.0,0.1,0.9,5,1.0
3,FORMASI,FORMASI,0.4,0.8,0.6,0.2,0.0,0.1,0.7,4,0.7
4,FORDI,FORDI MAPELAR,0.3,1.0,0.7,0.6,0.0,0.1,0.8,5,0.6

In [123]:
from sklearn.preprocessing import MinMaxScaler

In [81]:
ukm_features = UKM.drop(columns=["ID_UKM", "Nama_UKM"])

In [83]:
scaler = MinMaxScaler()
ukm_features_scaled = scaler.fit_transform(ukm_features)

In [85]:
ukm_features_scaled_df = pd.DataFrame(ukm_features_scaled, columns=ukm_features.columns)

In [89]:
ukm_features_scaled_df.head()

,Seni,Sains,Sosial,Riset,Olahraga,Kerohanian,Kompetitif,Waktu_Komitmen,Ekstrovert_Friendly
0,0.000000,0.000000,1.000,0.2,0.0,0.0,1.000000,0.6,1.0
1,0.000000,0.111111,1.000,0.3,0.0,0.0,0.666667,0.4,0.6
2,0.111111,1.000000,0.500,0.4,0.0,0.0,0.833333,0.4,1.0
3,0.333333,0.777778,0.500,0.2,0.0,0.0,0.500000,0.2,0.4
4,0.222222,1.000000,0.625,0.6,0.0,0.0,0.666667,0.4,0.2

In [91]:
husein = pd.DataFrame([{
    "Seni": 0.1,
    "Sains": 0.8,
    "Sosial": 0.4,
    "Riset": 0.8,
    "Olahraga": 0.2,
    "Kerohanian": 0.3,
    "Kompetitif": 0.8,
    "Waktu_Komitmen": 0.5,
    "Ekstrovert_Friendly": 0.7
}])

In [93]:
husein

,Seni,Sains,Sosial,Riset,Olahraga,Kerohanian,Kompetitif,Waktu_Komitmen,Ekstrovert_Friendly
0,0.1,0.8,0.4,0.8,0.2,0.3,0.8,0.5,0.7

In [95]:
from sklearn.metrics.pairwise import cosine_similarity
similarities = cosine_similarity(ukm_features_scaled_df, husein)
rekomendasi_df = UKM.copy()
rekomendasi_df["Similarity"] = similarities

In [97]:
top_n = rekomendasi_df.sort_values(by="Similarity", ascending=False).head(5)

In [99]:
top_n

,ID_UKM,Nama_UKM,Seni,Sains,Sosial,Riset,Olahraga,Kerohanian,Kompetitif,Waktu_Komitmen,Ekstrovert_Friendly,Similarity
5,IAAS,IAAS LC UB,0.2,1.0,0.5,0.7,0.0,0.1,0.7,5,0.8,0.950828
2,AIESEC,AIESEC in UB,0.2,1.0,0.6,0.4,0.0,0.1,0.9,5,1.0,0.930454
8,SRE,Society of Renewable Energy,0.2,1.0,0.3,0.8,0.0,0.1,0.7,5,0.7,0.925138
7,RKIM,RKIM,0.2,1.0,0.4,1.0,0.0,0.1,0.8,6,0.6,0.913208
4,FORDI,FORDI MAPELAR,0.3,1.0,0.7,0.6,0.0,0.1,0.8,5,0.6,0.901726